<ion-header>
    <ion-navbar color="primary">
        <ion-title>Form Register</ion-title>
    </ion-navbar>
    <ion-segment [(ngModel)]="typeSignUp" color="secondary">
        <ion-segment-button value="applicant">
            Applicant
        </ion-segment-button>
        <ion-segment-button value="recuiter">
            Recuiter
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <div [ngSwitch]="typeSignUp">
        <form (ngSubmit)="doRegisterApplicant()" [formGroup]="formRegisterApplicant" *ngSwitchCase="'applicant'">
            <ion-list>
                <ion-item>
                    <ion-label>
                        <ion-icon name="md-contact"></ion-icon>
                    </ion-label>
                    <ion-input type="text" formControlName="name" name="name" placeholder="Full name"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterApplicant.controls['name'].errors && (formRegisterApplicant.controls['name'].dirty || formRegisterApplicant.controls['name'].touched)">
                    <div [hidden]="!formRegisterApplicant.controls['name'].errors.required" class="error">
                        Name is required field!
                    </div>
                    <div [hidden]="!formRegisterApplicant.controls['name'].errors.minlength" class="error">
                        Name is least at 8 characters long!
                    </div>
                    <div [hidden]="!formRegisterApplicant.controls['name'].errors.maxlength" class="error">
                        Name can not more than 100 characters!
                    </div>
                </div>

                <ion-item>
                    <ion-label>
                        <ion-icon name="md-contact"></ion-icon>
                    </ion-label>
                    <ion-input type="text" formControlName="userName" name="userName" placeholder="User name"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterApplicant.controls['userName'].errors && (formRegisterApplicant.controls['userName'].dirty || formRegisterApplicant.controls['userName'].touched)">
                    <div [hidden]="!formRegisterApplicant.controls['userName'].errors.required" class="error">
                        Username is required field!
                    </div>
                    <div [hidden]="!formRegisterApplicant.controls['userName'].errors.minlength" class="error">
                        Username is least at 4 characters long!
                    </div>
                    <div [hidden]="!formRegisterApplicant.controls['userName'].errors.maxlength" class="error">
                        Username can not more than 24 characters!
                    </div>
                </div>

                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-mail"></ion-icon>
                    </ion-label>
                    <ion-input type="email" formControlName="email" name="email" placeholder="Email"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterApplicant.controls['email'].errors && (formRegisterApplicant.controls['email'].dirty || formRegisterApplicant.controls['email'].touched)">
                    <div [hidden]="!formRegisterApplicant.controls['email'].errors.required" class="error">
                        Email is required field!
                    </div>
                    <div [hidden]="!formRegisterApplicant.controls['email'].errors.pattern" class="error">
                        Email incorrect format!
                    </div>
                </div>

                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-key"></ion-icon>
                    </ion-label>
                    <ion-input type="password" formControlName="password" name="password" placeholder="Password"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterApplicant.controls['password'].errors && (formRegisterApplicant.controls['password'].dirty || formRegisterApplicant.controls['password'].touched)">
                    <div [hidden]="!formRegisterApplicant.controls['password'].errors.required" class="error">
                        Password is required field!
                    </div>
                    <div [hidden]="!formRegisterApplicant.controls['password'].errors.minlength" class="error">
                        Password is least at 6 characters long!
                    </div>
                    <div [hidden]="!formRegisterApplicant.controls['password'].errors.maxlength" class="error">
                        Password can not more than 24 characters!
                    </div>
                </div>

                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-key"></ion-icon>
                    </ion-label>
                    <ion-input type="password" formControlName="passwordConfirm" name="passwordConfirm" placeholder="Password confirm"></ion-input>
                    <ion-checkbox item-right formControlName="checked" name="checked" *ngIf="formRegisterApplicant.controls['passwordConfirm'].value==formRegisterApplicant.controls['password'].value && !formRegisterApplicant.controls['passwordConfirm'].errors && !formRegisterApplicant.controls['passwordConfirm'].errors"></ion-checkbox>
                </ion-item>

                <div *ngIf="formRegisterApplicant.controls['passwordConfirm'].errors && (formRegisterApplicant.controls['passwordConfirm'].dirty || formRegisterApplicant.controls['passwordConfirm'].touched)">
                    <div [hidden]="!formRegisterApplicant.controls['passwordConfirm'].errors.required" class="error">
                        Password confirm is required field!
                    </div>
                    <div [hidden]="!formRegisterApplicant.controls['passwordConfirm'].errors.minlength" class="error">
                        Password confirm is least at 6 characters long!
                    </div>
                    <div [hidden]="!formRegisterApplicant.controls['passwordConfirm'].errors.maxlength" class="error">
                        Password confim can not more than 24 characters!
                    </div>
                </div>

                <div class="item item-custom">
                    <ion-row>
                        <ion-col>
                            <ion-label>Gender</ion-label>
                            <ion-toggle formControlName="gender" name="gender"></ion-toggle>
                        </ion-col>
                        <ion-col>
                            <ion-label>Age</ion-label>
                            <ion-input class="age" type="number" min="18" max="55" formControlName="age" name="age" placeholder="18"></ion-input>
                        </ion-col>
                    </ion-row>
                </div>

                <ion-item>
                    <ion-label>School</ion-label>
                    <ion-select formControlName="school" name="school">
                        <ion-option value="Học Viện Kĩ Thuật Quân Sự">Học Viện Kĩ Thuật Quân Sự</ion-option>
                        <ion-option value="Đại Học Bách Khoa Hà Nội">Đại Học Bách Khoa Hà Nội</ion-option>
                        <ion-option value="Học Viện Ngân Hàng">Học Viện Ngân Hàng</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Speciality</ion-label>
                    <ion-select formControlName="speciality" name="speciality">
                        <ion-option value="Công Nghệ Thông Tin">Công Nghệ Thông Tin</ion-option>
                        <ion-option value="Cơ Khí">Cơ Khí</ion-option>
                        <ion-option value="Cầu Đường">Cầu Đường</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item id="upload-boxes" class="input-text">
                    <button style="margin-bottom: 30px; margin-left:50px" type="button" ion-button (click)="chooseAvatar()">Upload Avatar</button>
                    <img class="avatar-upload" style="height: 100px; width: 100px;" src="{{base64Image}}">
                </ion-item>

                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-call"></ion-icon>
                    </ion-label>
                    <ion-input type="tel" formControlName="phone1" name="phone1" placeholder="Phone 1"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterApplicant.controls['phone1'].errors && (formRegisterApplicant.controls['phone1'].dirty || formRegisterApplicant.controls['phone1'].touched)">
                    <div [hidden]="!formRegisterApplicant.controls['phone1'].errors.required" class="error">
                        Phone is required field!
                    </div>
                    <div [hidden]="!formRegisterApplicant.controls['phone1'].errors.pattern" class="error">
                        Phone incorect format!
                    </div>
                </div>

                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-call"></ion-icon>
                    </ion-label>
                    <ion-input type="tel" formControlName="phone2" name="phone2" placeholder="Phone 2"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterApplicant.controls['phone2'].errors && (formRegisterApplicant.controls['phone2'].dirty || formRegisterApplicant.controls['phone2'].touched)">
                    <div [hidden]="!formRegisterApplicant.controls['phone2'].errors.pattern" class="error">
                        Phone incorect format!
                    </div>
                </div>

                <ion-item>
                    <ion-label>City</ion-label>
                    <ion-select formControlName="city" name="city">
                        <ion-option *ngFor="let city of listCity" (ionSelect)="changeCity(city)" value="{{city.name_with_type}}">{{city.name_with_type}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>District</ion-label>
                    <ion-select formControlName="district" name="district">
                        <ion-option *ngFor="let district of listDistrict" value="{{district.name}}" (ionSelect)="changeDistrict(district)">{{district.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Street</ion-label>
                    <ion-select formControlName="street" name="street">
                        <ion-option *ngFor="let street of listStreet" value="{{street.name}}">{{street.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-navigate"></ion-icon>
                    </ion-label>
                    <ion-input type="text" formControlName="landAlleyBuilding" name="landAlleyBuilding" placeholder="Land, alley, building"></ion-input>
                </ion-item>

                <ion-item class="input-text">
                    <ion-textarea formControlName="description" row="6" name="description" placeholder="Description"></ion-textarea>
                </ion-item>

                <div padding>
                    <button ion-button color="primary" [disabled]="formRegisterApplicant.invalid" block>Register</button>
                </div>

            </ion-list>
        </form>
        <form (ngSubmit)="doRegisterRecuiter()" [formGroup]="formRegisterRecuiter" *ngSwitchCase="'recuiter'">
            <ion-list>

                <ion-item>
                    <ion-label>
                        <ion-icon name="md-contact"></ion-icon>
                    </ion-label>
                    <ion-input type="text" formControlName="name" name="name" placeholder="Full name"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterRecuiter.controls['name'].errors && (formRegisterRecuiter.controls['name'].dirty || formRegisterRecuiter.controls['name'].touched)">
                    <div [hidden]="!formRegisterRecuiter.controls['name'].errors.required" class="error">
                        Name is required field!
                    </div>
                    <div [hidden]="!formRegisterRecuiter.controls['name'].errors.minlength" class="error">
                        Name is least at 8 characters long!
                    </div>
                    <div [hidden]="!formRegisterRecuiter.controls['name'].errors.maxlength" class="error">
                        Name can not more than 100 characters!
                    </div>
                </div>

                <ion-item>
                    <ion-label>
                        <ion-icon name="md-contact"></ion-icon>
                    </ion-label>
                    <ion-input type="text" formControlName="companyName" name="companyName" placeholder="Company's name"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterRecuiter.controls['companyName'].errors && (formRegisterRecuiter.controls['companyName'].dirty || formRegisterRecuiter.controls['companyName'].touched)">
                    <div [hidden]="!formRegisterRecuiter.controls['name'].errors.required" class="error">
                        Company name is required field!
                    </div>
                    <div [hidden]="!formRegisterRecuiter.controls['companyName'].errors.minlength" class="error">
                        Company Name is least at 8 characters long!
                    </div>
                    <div [hidden]="!formRegisterRecuiter.controls['companyName'].errors.maxlength" class="error">
                        Company name can not more than 100 characters!
                    </div>
                </div>

                <ion-item>
                    <ion-label>
                        <ion-icon name="md-contact"></ion-icon>
                    </ion-label>
                    <ion-input type="text" formControlName="userName" name="userName" placeholder="User name"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterRecuiter.controls['userName'].errors && (formRegisterRecuiter.controls['userName'].dirty || formRegisterRecuiter.controls['userName'].touched)">
                    <div [hidden]="!formRegisterRecuiter.controls['userName'].errors.required" class="error">
                        Username is required field!
                    </div>
                    <div [hidden]="!formRegisterRecuiter.controls['userName'].errors.minlength" class="error">
                        Username is least at 4 characters long!
                    </div>
                    <div [hidden]="!formRegisterRecuiter.controls['userName'].errors.maxlength" class="error">
                        Username can not more than 24 characters!
                    </div>
                </div>

                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-mail"></ion-icon>
                    </ion-label>
                    <ion-input type="email" formControlName="email" name="email" placeholder="Email"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterRecuiter.controls['email'].errors && (formRegisterRecuiter.controls['email'].dirty || formRegisterRecuiter.controls['email'].touched)">
                    <div [hidden]="!formRegisterRecuiter.controls['email'].errors.required" class="error">
                        Email is required field!
                    </div>
                    <div [hidden]="!formRegisterRecuiter.controls['email'].errors.pattern" class="error">
                        Email incorrect format!
                    </div>
                </div>

                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-key"></ion-icon>
                    </ion-label>
                    <ion-input type="password" formControlName="password" name="password" placeholder="Password"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterRecuiter.controls['password'].errors && (formRegisterRecuiter.controls['password'].dirty || formRegisterRecuiter.controls['password'].touched)">
                    <div [hidden]="!formRegisterRecuiter.controls['password'].errors.required" class="error">
                        Password is required field!
                    </div>
                    <div [hidden]="!formRegisterRecuiter.controls['password'].errors.minlength" class="error">
                        Password is least at 6 characters long!
                    </div>
                    <div [hidden]="!formRegisterRecuiter.controls['password'].errors.maxlength" class="error">
                        Password can not more than 24 characters!
                    </div>
                </div>

                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-key"></ion-icon>
                    </ion-label>
                    <ion-input type="password" formControlName="passwordConfirm" name="passwordConfirm" placeholder="Password confirm"></ion-input>
                    <ion-checkbox item-right formControlName="checked" name="checked" *ngIf="formRegisterRecuiter.controls['passwordConfirm'].value==formRegisterRecuiter.controls['password'].value && !formRegisterRecuiter.controls['passwordConfirm'].errors && !formRegisterRecuiter.controls['passwordConfirm'].errors"></ion-checkbox>
                </ion-item>

                <div *ngIf="formRegisterRecuiter.controls['passwordConfirm'].errors && (formRegisterRecuiter.controls['passwordConfirm'].dirty || formRegisterRecuiter.controls['passwordConfirm'].touched)">
                    <div [hidden]="!formRegisterRecuiter.controls['passwordConfirm'].errors.required" class="error">
                        Password confirm is required field!
                    </div>
                    <div [hidden]="!formRegisterRecuiter.controls['passwordConfirm'].errors.minlength" class="error">
                        Password confirm is least at 6 characters long!
                    </div>
                    <div [hidden]="!formRegisterRecuiter.controls['passwordConfirm'].errors.maxlength" class="error">
                        Password confim can not more than 24 characters!
                    </div>
                </div>
                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-call"></ion-icon>
                    </ion-label>
                    <ion-input type="tel" formControlName="phone1" name="phone1" placeholder="Phone 1"></ion-input>
                </ion-item>

                <div [hidden]="!formRegisterApplicant.controls['phone1'].errors.required" class="error">
                    Phone is required field!
                </div>
                <div [hidden]="!formRegisterApplicant.controls['phone1'].errors.pattern" class="error">
                    Phone incorect format!
                </div>

                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-call"></ion-icon>
                    </ion-label>
                    <ion-input type="tel" formControlName="phone2" name="phone2" placeholder="Phone 2"></ion-input>
                </ion-item>

                <div *ngIf="formRegisterApplicant.controls['phone2'].errors && (formRegisterApplicant.controls['phone2'].dirty || formRegisterApplicant.controls['phone2'].touched)">
                    <div [hidden]="!formRegisterApplicant.controls['phone2'].errors.pattern" class="error">
                        Phone incorect format!
                    </div>
                </div>

                <ion-item id="upload-boxes" class="input-text">
                    <button style="margin-bottom: 30px;" type="button" ion-button (click)="chooseAvatar()">Upload Avatar</button>
                    <img class="avatar-upload" style="height: 100px; width: 100px;" src="{{avatar_url}}">
                </ion-item>

                <ion-item>
                    <ion-label>City</ion-label>
                    <ion-select formControlName="city" name="city">
                        <ion-option value="Hà Nộ">Hà Nội</ion-option>
                        <ion-option value="TP. Hồ Chí Minh">TP. Hồ Chí Minh</ion-option>
                        <ion-option value="Đà Nẵng">Đà Nẵng</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>District</ion-label>
                    <ion-select formControlName="district" name="district">
                        <ion-option value="Cầu Giấy">Cầu Giấy</ion-option>
                        <ion-option value="Bắc Từ Liêm">Bắc Từ Liêm</ion-option>
                        <ion-option value="Nam Từ Liêm">Nam Từ Liêm</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Street</ion-label>
                    <ion-select formControlName="street" name="street">
                        <ion-option value="Phường Cổ Nhuế 1">Phường Cổ Nhuế 1</ion-option>
                        <ion-option value="Phường Cổ Nhuế 2">Phường Cổ Nhuế 2</ion-option>
                        <ion-option value="Xuân Thủy">Xuân Thủy</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item class="input-text">
                    <ion-label>
                        <ion-icon name="md-navigate"></ion-icon>
                    </ion-label>
                    <ion-input type="text" formControlName="landAlleyBuilding" name="landAlleyBuilding" placeholder="Land, alley, building"></ion-input>
                </ion-item>

                <ion-item class="input-text">
                    <ion-textarea formControlName="description" row="6" name="description" placeholder="Description"></ion-textarea>
                </ion-item>

                <div padding>
                    <button [disabled]="formRegisterRecuiter.invalid" ion-button color="primary" block>Register</button>
                </div>

            </ion-list>
        </form>
    </div>
</ion-content>
