<ion-header>
    <ion-navbar>
        <ion-toolbar>
            <ion-buttons left class="loginnavbtn">
                <button ion-button class="loginnavbtn" (click)="goBack()">
                    <ion-icon name="md-arrow-back"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>Edit Profile</ion-title>
            <ion-buttons right>
                <button ion-button [disabled]="formEditUser.invalid" (click)="save()">
                    <ion-icon name="md-checkmark"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <form (ngSubmit)="save()" [formGroup]="formEditUser" novalidate>
        <ion-list>
            <ion-item>
                <ion-label>Role:</ion-label>
                <ion-select formControlName="role" name="role">
                    <ion-option value="applicant">Applicant</ion-option>
                    <ion-option value="recuiter">Recuiter</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>
                    <ion-icon name="md-contact"></ion-icon>
                </ion-label>
                <ion-input type="text" formControlName="name" name="name" placeholder="Full name"></ion-input>
            </ion-item>

            <div *ngIf="isError('name')">
                <div [hidden]="!isErrorRequired('name')" class="error">
                    Name is required field!
                </div>
                <div [hidden]="!isErrorMinLength('name')" class="error">
                    Name is least at 8 characters long!
                </div>
                <div [hidden]="!isErrorMaxLength('name')" class="error">
                    Name can not more than 100 characters!
                </div>
            </div>

            <ion-item>
                <ion-label>
                    <ion-icon name="logo-googleplus"></ion-icon>
                </ion-label>
                <ion-input type="text" formControlName="companyName" name="companyName" placeholder="Company's name"></ion-input>
            </ion-item>

            <div *ngIf="isError('companyName')">
                <div [hidden]="!isErrorRequired('companyName')" class="error">
                    Company's Name is required field!
                </div>
                <div [hidden]="!isErrorMinLength('companyName')" class="error">
                    Company's Name is least at 8 characters long!
                </div>
                <div [hidden]="!isErrorMaxLength('companyName')" class="error">
                    Company's Name can not more than 100 characters!
                </div>
            </div>

            <ion-item>
                <ion-label>
                    <ion-icon name="md-contact"></ion-icon>
                </ion-label>
                <ion-input type="text" formControlName="userName" name="userName" placeholder="User name"></ion-input>
            </ion-item>

            <div *ngIf="isError('userName')">
                <div [hidden]="!isErrorRequired('userName')" class="error">
                    Username is required field!
                </div>
                <div [hidden]="!isErrorMinLength('userName')" class="error">
                    Username is least at 8 characters long!
                </div>
                <div [hidden]="!isErrorMaxLength('userName')" class="error">
                    Username can not more than 100 characters!
                </div>
            </div>

            <ion-item class="input-text">
                <ion-label>
                    <ion-icon name="md-mail"></ion-icon>
                </ion-label>
                <ion-input type="email" formControlName="email" name="email" placeholder="Email"></ion-input>
            </ion-item>

            <div *ngIf="isError('email')">
                <div [hidden]="!isErrorRequired('email')" class="error">
                    Email is required field!
                </div>
                <div [hidden]="!isErrorPattern('email')" class="error">
                    Email incorrect format!
                </div>
            </div>

            <div *ngIf="formEditUser.controls['role'].value == 'applicant'">
                <ion-item>
                    <ion-label>School</ion-label>
                    <ion-select formControlName="school" name="school">
                        <ion-option *ngFor="let school of schools" value="{{ school }}">{{ school }}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Specialized</ion-label>
                    <ion-select formControlName="specialized" name="specialized">
                        <ion-option *ngFor="let specialized of specializeds" value="{{ specialized }}">{{ specialized }}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Experience</ion-label>
                    <ion-select formControlName="experience" name="experience">
                        <ion-option *ngFor="let experience of experiences" value="{{ experience }}">{{ experience }}</ion-option>
                    </ion-select>
                </ion-item>
            </div>

            <ion-item class="input-text">
                <ion-label>
                    <ion-icon name="md-call"></ion-icon>
                </ion-label>
                <ion-input type="tel" formControlName="phone" name="phone" placeholder="Phone"></ion-input>
            </ion-item>

            <div *ngIf="isError('phone')">
                <div [hidden]="!isErrorRequired('phone')" class="error">
                    Phone is required field!
                </div>
                <div [hidden]="!isErrorPattern('phone')" class="error">
                    Phone incorect format!
                </div>
            </div>

            <ion-item id="upload-boxes" class="input-text">
                <button style="margin-bottom: 30px;" type="button" ion-button (click)="chooseAvatar()">Upload Avatar</button>
                <img class="avatar-upload" style="height: 100px; width: 100px;" src="{{user.avatar_url}}">
            </ion-item>

            <ion-item>
                <ion-label>City</ion-label>
                <ion-select formControlName="city" name="city">
                    <ion-option *ngFor="let city of listCity" (ionSelect)="changeCity(city)" value="{{city.name_with_type}}">{{city.name_with_type}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>District</ion-label>
                <ion-select formControlName="district" name="district">
                    <ion-option *ngFor="let district of listDistrict" value="{{district.name}}" (ionSelect)="changeDistrict(district)">{{district.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Street</ion-label>
                <ion-select formControlName="street" name="street">
                    <ion-option *ngFor="let street of listStreet" value="{{street.name}}">{{street.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item class="input-text">
                <ion-label>
                    <ion-icon name="md-navigate"></ion-icon>
                </ion-label>
                <ion-input type="text" formControlName="location" name="location" placeholder="location"></ion-input>
            </ion-item>

            <ion-item class="input-text">
                <ion-textarea formControlName="description" row="6" name="description" placeholder="Description"></ion-textarea>
            </ion-item>

            <div padding>
                <button [disabled]="formEditUser.invalid" ion-button color="primary" block>Register</button>
            </div>

        </ion-list>
    </form>
</ion-content>