<ion-header>
    <ion-navbar>
        <ion-toolbar>
            <ion-buttons left class="loginnavbtn">
                <button ion-button class="loginnavbtn" (click)="goBack()">
                    <ion-icon name="md-arrow-back"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>Edit Profile</ion-title>
            <ion-buttons right>
                <button ion-button [disabled]="formEditUser.invalid" (click)="save()">
                    <ion-icon name="md-checkmark"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <form (ngSubmit)="save()" [formGroup]="formEditUser" novalidate>
        <ion-list>
            <ion-item>
                <ion-label>
                    <ion-icon name="md-contact"></ion-icon>
                </ion-label>
                <ion-input type="text" formControlName="name" name="name" placeholder="Full name"></ion-input>
            </ion-item>

            <div *ngIf="formEditUser.controls['name'].errors && (formEditUser.controls['name'].dirty || formEditUser.controls['name'].touched)">
                <div [hidden]="!formEditUser.controls['name'].errors.required" class="error">
                    Name is required field!
                </div>
                <div [hidden]="!formEditUser.controls['name'].errors.minlength" class="error">
                    Name is least at 8 characters long!
                </div>
                <div [hidden]="!formEditUser.controls['name'].errors.maxlength" class="error">
                    Name can not more than 100 characters!
                </div>
            </div>

            <ion-item>
                <ion-label>
                    <ion-icon name="md-contact"></ion-icon>
                </ion-label>
                <ion-input type="text" formControlName="userName" name="userName" placeholder="User name"></ion-input>
            </ion-item>

            <div *ngIf="formEditUser.controls['userName'].errors && (formEditUser.controls['userName'].dirty || formEditUser.controls['userName'].touched)">
                <div [hidden]="!formEditUser.controls['userName'].errors.required" class="error">
                    Username is required field!
                </div>
                <div [hidden]="!formEditUser.controls['userName'].errors.minlength" class="error">
                    Username is least at 4 characters long!
                </div>
                <div [hidden]="!formEditUser.controls['userName'].errors.maxlength" class="error">
                    Username can not more than 24 characters!
                </div>
            </div>

            <ion-item class="input-text">
                <ion-label>
                    <ion-icon name="md-mail"></ion-icon>
                </ion-label>
                <ion-input type="email" formControlName="email" name="email" placeholder="Email"></ion-input>
            </ion-item>

            <div *ngIf="formEditUser.controls['email'].errors && (formEditUser.controls['email'].dirty || formEditUser.controls['email'].touched)">
                <div [hidden]="!formEditUser.controls['email'].errors.required" class="error">
                    Email is required field!
                </div>
                <div [hidden]="!formEditUser.controls['email'].errors.pattern" class="error">
                    Email incorrect format!
                </div>
            </div>

            <div class="item item-custom">
                <ion-row>
                    <ion-col>
                        <ion-label>Gender</ion-label>
                        <ion-toggle formControlName="gender" name="gender"></ion-toggle>
                    </ion-col>
                    <ion-col>
                        <ion-label>Age</ion-label>
                        <ion-input class="age" type="number" min="18" max="55" formControlName="age" name="age" placeholder="18"></ion-input>
                    </ion-col>
                </ion-row>
            </div>

            <ion-item>
                <ion-label>School</ion-label>
                <ion-select formControlName="school" name="school">
                    <ion-option value="Học Viện Kĩ Thuật Quân Sự">Học Viện Kĩ Thuật Quân Sự</ion-option>
                    <ion-option value="Đại Học Bách Khoa Hà Nội">Đại Học Bách Khoa Hà Nội</ion-option>
                    <ion-option value="Học Viện Ngân Hàng">Học Viện Ngân Hàng</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Speciality</ion-label>
                <ion-select formControlName="speciality" name="speciality">
                    <ion-option value="Công Nghệ Thông Tin">Công Nghệ Thông Tin</ion-option>
                    <ion-option value="Cơ Khí">Cơ Khí</ion-option>
                    <ion-option value="Cầu Đường">Cầu Đường</ion-option>
                </ion-select>
            </ion-item>

            <ion-item id="upload-boxes" class="input-text">
                <button style="margin-bottom: 30px; margin-left:50px" type="button" ion-button (click)="chooseAvatar()">Change Avatar</button>
                <img class="avatar-upload" style="height: 100px; width: 100px;" src="{{avatar_url}}">
            </ion-item>

            <ion-item class="input-text">
                <ion-label>
                    <ion-icon name="md-call"></ion-icon>
                </ion-label>
                <ion-input type="tel" formControlName="phone1" name="phone1" placeholder="Phone 1"></ion-input>
            </ion-item>

            <div *ngIf="formEditUser.controls['phone1'].errors && (formEditUser.controls['phone1'].dirty || formEditUser.controls['phone1'].touched)">
                <div [hidden]="!formEditUser.controls['phone1'].errors.required" class="error">
                    Phone is required field!
                </div>
                <div [hidden]="!formEditUser.controls['phone1'].errors.pattern" class="error">
                    Phone incorect format!
                </div>
            </div>

            <ion-item class="input-text">
                <ion-label>
                    <ion-icon name="md-call"></ion-icon>
                </ion-label>
                <ion-input type="tel" formControlName="phone2" name="phone2" placeholder="Phone 2"></ion-input>
            </ion-item>

            <div *ngIf="formEditUser.controls['phone2'].errors && (formEditUser.controls['phone2'].dirty || formEditUser.controls['phone2'].touched)">
                <div [hidden]="!formEditUser.controls['phone2'].errors.pattern" class="error">
                    Phone incorect format!
                </div>
            </div>

            <ion-item>
                <ion-label>City</ion-label>
                <ion-select formControlName="city" name="city">
                    <ion-option value="Hà Nộ">Hà Nội</ion-option>
                    <ion-option value="TP. Hồ Chí Minh">TP. Hồ Chí Minh</ion-option>
                    <ion-option value="Đà Nẵng">Đà Nẵng</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>District</ion-label>
                <ion-select formControlName="district" name="district">
                    <ion-option value="Cầu Giấy">Cầu Giấy</ion-option>
                    <ion-option value="Bắc Từ Liêm">Bắc Từ Liêm</ion-option>
                    <ion-option value="Nam Từ Liêm">Nam Từ Liêm</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Street</ion-label>
                <ion-select formControlName="street" name="street">
                    <ion-option value="Phường Cổ Nhuế 1">Phường Cổ Nhuế 1</ion-option>
                    <ion-option value="Phường Cổ Nhuế 2">Phường Cổ Nhuế 2</ion-option>
                    <ion-option value="Xuân Thủy">Xuân Thủy</ion-option>
                </ion-select>
            </ion-item>

            <ion-item class="input-text">
                <ion-label>
                    <ion-icon name="md-navigate"></ion-icon>
                </ion-label>
                <ion-input type="text" formControlName="landAlleyBuilding" name="landAlleyBuilding" placeholder="Land, alley, building"></ion-input>
            </ion-item>

            <ion-item class="input-text">
                <ion-textarea formControlName="description" row="6" name="description" placeholder="Description"></ion-textarea>
            </ion-item>

            <div padding>
                <button ion-button color="primary" [disabled]="formEditUser.invalid" block>Save</button>
            </div>

        </ion-list>
    </form>
</ion-content>