page-list-applicant {
    ion-card-title{
        text-align: center;
    }
    .img-card {
        width: 230px;
        height: 200px;
        margin: auto;
        margin-top: 20px;
    }
    p span.age{
        float: right;
        margin-right: 12px;
    }
}
