<ion-header>
    <ion-navbar>
        <ion-toolbar>
            <ion-buttons left class="loginnavbtn">
                <button ion-button class="loginnavbtn" (click)="goBack()">
                    <ion-icon name="md-arrow-back"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>Detail User</ion-title>
        </ion-toolbar>
    </ion-navbar>

    <ion-toolbar>
        <ion-segment [(ngModel)]="viewMore">
            <ion-segment-button value="info">
                Information
            </ion-segment-button>
            <ion-segment-button value="phone">
                Phones
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>

    <div [ngSwitch]="viewMore">
        <ion-list *ngSwitchCase="'info'">
            <ion-item *ngIf="user.avatar_url">
                <ion-card>
                    <img *ngIf="user.avatar_url" src="{{user.avatar_url}}">
                </ion-card>
            </ion-item>
            <ion-item>
                Name: {{user.name}}
            </ion-item>
            <ion-item>
                Email: {{user.email}}
            </ion-item>
            <ion-item *ngIf="user.userName">
                Username: {{user.userName}}
            </ion-item>
            <ion-item *ngIf="user.gender">
                Gender: {{user.gender ? 'Male' : 'Female'}}
            </ion-item>
            <ion-item *ngIf="user.age">
                Age: {{user.age}}
            </ion-item>
            <ion-item *ngIf="user.school">
                School: {{user.school}}
            </ion-item>
            <ion-item *ngIf="user.speciality">
                Speciality: {{user.speciality}}
            </ion-item>
            <ion-item *ngIf="user.desciption">
                Description: {{user.description}}
            </ion-item>
            <div *ngIf="user.address">
                <ion-item *ngIf="user.address.city">
                    Address: {{user.address.city}}, {{user.address.district}}, {{user.address.street}}, {{user.address.landAlleyBuilding}}
                </ion-item>
            </div>
            <div *ngIf="user.phone">
                <ion-item *ngIf="user.phone.phone1">
                    Phone number 1: {{user.phone.phone1}}
                </ion-item>
                <ion-item *ngIf="user.phone.phone2">
                    Phone number 2: {{user.phone.phone2}}
                </ion-item>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'phone'">
            <div *ngIf="user.phone">
                <ion-item-sliding #item *ngIf="user.phone.phone">
                    <ion-item>
                        {{user.phone.phone}}
                    </ion-item>
                    <ion-item-options side="left">
                        <button ion-button (click)="call(user.phone.phone)">
                            <ion-icon color="balanced" name="call"></ion-icon>
                        </button>
                        <button ion-button color="danger" (click)="share(user)">Share</button>
                    </ion-item-options>

                    <ion-item-options side="right">
                        <button ion-button (click)="unread(item)">Unread</button>
                    </ion-item-options>
                </ion-item-sliding>
            </div>
            <div (ngSubmit)="sendEmail()" [formGroup]="formEmail">
                <ion-list>
                    <ion-item class="input-text">
                        <ion-label>
                            <ion-icon name="md-mail"></ion-icon>
                        </ion-label>
                        <ion-input type="email" formControlName="emailTo" name="emailTo" placeholder="Enter email"></ion-input>
                    </ion-item>

                    <div *ngIf="formEmail.controls['emailTo'].errors && (formEmail.controls['emailTo'].dirty || formEmail.controls['emailTo'].touched)">
                        <div [hidden]="!formEmail.controls['emailTo'].errors.required" class="error">
                            Email is required field!
                        </div>
                        <div [hidden]="!formEmail.controls['emailTo'].errors.pattern" class="error">
                            Email incorrect format!
                        </div>
                    </div>

                    <ion-item class="input-text">
                        <ion-label>
                            <ion-icon name="md-mail"></ion-icon>
                        </ion-label>
                        <ion-input type="email" formControlName="emailCC" name="emailCC" placeholder="Enter cc email"></ion-input>
                    </ion-item>
                    <div *ngIf="formEmail.controls['emailCC'].errors && (formEmail.controls['emailCC'].dirty || formEmail.controls['emailCC'].touched)">
                        <div [hidden]="!formEmail.controls['emailCC'].errors.pattern" class="error">
                            Email CC incorrect format!
                        </div>
                    </div>

                    <ion-item class="input-text">
                        <ion-label>
                            <ion-icon name="md-mail"></ion-icon>
                        </ion-label>
                        <ion-input type="email" formControlName="emailBCC" name="emailBCC" placeholder="Enter bcc email"></ion-input>
                    </ion-item>
                    <div *ngIf="formEmail.controls['emailBCC'].errors && (formEmail.controls['emailBCC'].dirty || formEmail.controls['emailBCC'].touched)">
                        <div [hidden]="!formEmail.controls['emailBCC'].errors.pattern" class="error">
                            Email BCC incorrect format!
                        </div>
                    </div>

                    <ion-item>
                        <ion-label>
                            <ion-icon name="md-contact"></ion-icon>
                        </ion-label>
                        <ion-textarea type="text" formControlName="subject" name="subject" placeholder="Enter your title"></ion-textarea>
                    </ion-item>

                    <div *ngIf="formEmail.controls['subject'].errors && (formEmail.controls['subject'].dirty || formEmail.controls['subject'].touched)">
                        <div [hidden]="!formEmail.controls['subject'].errors.required" class="error">
                            Subject is required field!
                        </div>
                    </div>

                    <ion-item>
                        <ion-label>
                            <ion-icon name="md-contact"></ion-icon>
                        </ion-label>
                        <ion-input type="text" formControlName="body" name="body" placeholder="Enter your content"></ion-input>
                    </ion-item>

                    <div *ngIf="formEmail.controls['body'].errors && (formEmail.controls['body'].dirty || formEmail.controls['body'].touched)">
                        <div [hidden]="!formEmail.controls['body'].errors.required" class="error">
                            Content is required field!
                        </div>
                    </div>

                    <ion-item>
                        <ion-label id="profile_image" color="primary" stacked>Attachment</ion-label>
                        <ion-input type="file" id="upload" formControlName="attachment"></ion-input>
                    </ion-item>

                    <div padding>
                        <button ion-button color="primary" (click)="sendEmail()" block [disabled]="formEmail.invalid">Send</button>
                    </div>

                </ion-list>

            </div>
        </ion-list>

    </div>

    <button style="width:80%; margin:auto" ion-button class="submit-btn" full type="submit" (click)="deleteBus()" color="danger">Delete</button>

</ion-content>
