page-upgrade {
    ion-slides {
        height: 80%;
        ion-slide{
            height: 70% !important;
        }
        .slide-upgrade {
            height: 250px;
            background-color: #488aff;
            color: #ffffff;
            font-weight: bold;
            text-align: center;
            .type{
                padding-top: 5%;
            }
            .price {
                margin: auto;
                margin-top: 15%;
            }
            .description {
                margin-top: 20%;
                text-align: center;
            }
        }
    }
}
