<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Upgrade</ion-title>
        <ion-buttons end color="Secondary" (click)="logout()">
            <button ion-button>
                <ion-icon name="md-log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding *ngIf="upgrades && user">
    <ion-slides (ionSlideDidChange)="slideChanged()" autoplay=1000>
        <ion-slide *ngFor="let upgrade of upgrades">
            <div class="slide-upgrade">
                <h1 class="type">{{ upgrade.type }}</h1>
                <h3 class="price">{{ upgrade.price }}</h3>
                <p class="description">{{ upgrade.description }}</p>
            </div>
        </ion-slide>
    </ion-slides>
    <button ion-button [disabled]="user.typeAccount == typeAccount" (click)="upgradeAccount()" radius block class="btn-upgrade">{{ textButtonUpgrade }}</button>
</ion-content>