<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left class="loginnavbtn">
            <button ion-button class="loginnavbtn" (click)="goBack()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Detail Post</ion-title>
        <ion-buttons right *ngIf="userCurrent &&  (userCurrent.role == 'recuiter' || userCurrent.role == 'admin')">
            <button ion-button (click)="edit()">
                <ion-icon name="md-create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>Company name: {{ post.company }}</ion-item>
        <ion-item>Title: {{ post.title }}</ion-item>
        <ion-item>Email: {{ post.email }} </ion-item>
        <ion-item>Phone: {{ post.phone }} </ion-item>
        <ion-item>Type: {{ post.type }} </ion-item>
        <ion-item>Level: {{ post.level }} </ion-item>
        <ion-item>Function:
            <span *ngFor="let func of post.function">#{{ func.display }}</span>
        </ion-item>
        <ion-item>
            <ion-textarea readonly rows="4" readonly value="Description: {{ post.description }}">
            </ion-textarea>
        </ion-item>

        <ion-item>Website:
            <a href="post.website"> {{ post.website }} </a>
        </ion-item>
        <ion-item>
            <ion-textarea readonly rows="3" readonly value="Address: {{ post.address.city }}, {{post.address.district}}, {{post.address.street}}">
            </ion-textarea>
        </ion-item>
        <ion-item>Date From: {{ post.dateFrom | moment:['ll'] }} </ion-item>
        <ion-item>Date to: {{ post.dateTo | moment:['ll'] }} </ion-item>
    </ion-list>
    <div>
        <button ion-button round color="primary" block (click)="chooseApply()">Apply</button>
    </div>
</ion-content>