<ion-header>
    <ion-navbar>
        <ion-toolbar>
            <ion-buttons left class="loginnavbtn">
                <button ion-button class="loginnavbtn" (click)="goBack()">
                    <ion-icon name="md-arrow-back"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>Detail Post</ion-title>
            <ion-buttons right *ngIf="userCurrent &&  (userCurrent.role == 'recuiter' || userCurrent.role == 'admin')">
                <button ion-button (click)="edit()">
                    <ion-icon name="md-create"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>Company name: {{post.company}}</ion-item>
        <ion-item>Title: {{post.title}}</ion-item>
        <ion-item>Email: {{ post.email }} </ion-item>
        <ion-item>Phone: {{ post.phone }} </ion-item>
        <ion-item>Type: {{ post.type }} </ion-item>
        <ion-item>Level: {{ post.level }} </ion-item>
        <ion-item>Function:
            <span *ngFor="let func of post.function">#{{ func.display }}</span>
        </ion-item>
        <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea name="" id="" cols="30" rows="5" readonly value="{{ post.description }}">
            </ion-textarea>
        </ion-item>

        <ion-item>Website:
            <a href="post.website"> {{ post.website }} </a>
        </ion-item>
        <ion-item>
            <ion-label>Address:</ion-label>
            <ion-textarea name="" id="" cols="30" rows="3" readonly value="{{ post.address.city }}, {{post.address.district}}, {{post.address.street}}">
            </ion-textarea>
        </ion-item>
        <ion-item>Date From: {{ post.dateFrom | moment:['ll'] }} </ion-item>
        <ion-item>Date to: {{ post.dateTo | moment:['ll'] }} </ion-item>
    </ion-list>
    <div>
        <button ion-button round color="primary" block (click)="fileInput.click()">Apply</button>
        <input #fileInput type="file" accept=".doc, .pdf" (change)="chooseFiles($event)" style="display:none;" />
    </div>
</ion-content>
