<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>List Favirote Post</ion-title>
        <ion-buttons end color="Secondary" (click)="logout()">
            <button ion-button>
                <ion-icon name="md-log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar>
        <ion-searchbar (ionInput)="getListPost($event)" autocorrect="off"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p *ngIf="!listPost || listPost.length == 0" class="message-not-found" color="primary"><span>{{ messageNotFound }}</span></p>

    <post *ngFor="let post of listPost" [postI]="post"></post>

    <button color="danger" ion-fab="" class="fab fab-ios fab-ios-danger" mini id="add-post" (click)="openModalAdd()">
        <ion-icon class="fab-close-icon icon icon-ios ion-ios-close" name="close" role="img" aria-label="close"></ion-icon>
        <span class="button-inner">
            <ion-icon name="add" role="img" class="icon icon-ios ion-ios-add" aria-label="add"></ion-icon>
        </span>
        <div class="button-effect">
        </div>
    </button>

</ion-content>
