<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>List Favirote Post</ion-title>
        <ion-buttons end color="Secondary" (click)="logout()">
            <button ion-button>
                <ion-icon name="md-log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar>
        <ion-searchbar (ionInput)="getListPost($event)" autocorrect="off"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p *ngIf="!listPost || listPost.length == 0" class="message-not-found" color="primary"><span>{{ messageNotFound }}</span></p>

    <ion-card *ngFor="let post of listPost">

        <ion-item>
            <ion-avatar item-start>
                <img src="{{post.user.avatar_url}}">
            </ion-avatar>
            <h2>{{post.user.name}}</h2>
            <p>{{post.user.age}}, {{post.user.gender}}</p>
        </ion-item>

        <img src="{{post.post.logoUrl}}">

        <ion-card-content>
            <h2><ion-icon color="primary" ios="ios-archive" md="md-archive"></ion-icon>  {{post.post.title}}</h2><br/>
            <p><ion-icon color="primary" name="md-calendar"></ion-icon>  {{post.post.dateFrom | moment:['ll']}} - {{post.post.dateTo | moment:['ll']}}</p><br/>
            <p><ion-icon color="primary" ios="ios-book" md="md-book"></ion-icon>  {{post.post.description}}</p>
        </ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col col-4 class="action-post">
                    <button ion-button icon-left clear small>
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>12 Likes</div>
                    </button>
                </ion-col>
                <ion-col col-3 class="action-post" (click)="savePost(post.post.key)">
                    <button ion-button icon-left clear small>
                        <ion-icon *ngIf="userCurrent.likes && userCurrent.likes[post.post.key]" name="heart"></ion-icon>
                        <ion-icon *ngIf="!(userCurrent.likes && userCurrent.likes[post.post.key])" name="heart-outline"></ion-icon>
                        <div>Save</div>
                    </button>
                </ion-col>
                <ion-col col-5 class="action-post">
                    <button ion-button icon-left clear small>
                        <ion-icon name="text"></ion-icon>
                        <div>4 Comments</div>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col center text-center>
                    <ion-note>
                        {{ post.post.updatedAt ? (post.post.updatedAt  | timeAgo ) : post.post.createdAt  | timeAgo }}
                    </ion-note>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col center text-center>
                    <button ion-button block small color="primary" (click)="share()">Share</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <button color="danger" ion-fab="" class="fab fab-ios fab-ios-danger" mini id="add-post" (click)="openModalAdd()">
        <ion-icon class="fab-close-icon icon icon-ios ion-ios-close" name="close" role="img" aria-label="close"></ion-icon>
        <span class="button-inner">
            <ion-icon name="add" role="img" class="icon icon-ios ion-ios-add" aria-label="add"></ion-icon>
        </span>
        <div class="button-effect">
        </div>
    </button>

</ion-content>
