@import "../../node_modules/ionic2-auto-complete/auto-complete";

.text-green {
	color: green !important;
}
.text-primary {
	color:#488aff !important;
}
.clearfix {
	clear: both;
}

.message-not-found {
    margin: auto;
    background-color:#488aff !important;
    text-align: center;
    color: #ffffff;
    min-height: 80px;   
}
.message-not-found span {
    display: block;
    padding-top: 10%;
}

ion-menu {
	.menu-enabled{
		display: block !important;
	}

	ion-header {
		background:#488aff !important;
		img {
			border-radius: 50%;
			float: left;
			margin: 6px;
			height: 70px;
		}
		.name {
			color: white;
			font-size: 16px;
			margin-bottom: 0;
		}
		.btn-edit {
			color: white;
		    display: inline-block;
		    padding: 4px 6px;
		}
	}

	.icon-menu {
		height: 20px;
	    position: relative;
	    top: 4px;
	    margin-right: 4px;
	}
	.label {
		font-size: 15px;
    	color: #313131;
	}
	.item-inner {
		border: none !important;
	}
	.btn-phone {
		display: inline-block;
	    background: #44b48e;
	    padding: 10px 20px;
	    color: white;
	    border-radius: 20px;
	    margin-left: calc(50% - 60px);
    }
    .toolbar-content{
        background:#488aff !important;
    }
}
