<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>List Applicant</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar  (ionInput)="getListUser($event)" autocorrect="off"></ion-searchbar>
        <button class="btn-search-advanced" positionV ="bottom" duration = '500' ion-button small tooltip="{{textShowHideAdvanced}} search advanced" (click)="showSearchAdvanced()">{{ textShowHideAdvanced }}</button>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="listUser">
    <ion-list *ngIf="searchAdvandced">
            <ion-item>
                <ion-label>City</ion-label>
                <ion-select [(ngModel)]="city" name="city">
                    <ion-option *ngFor="let city of listCity" (ionSelect)="searchByCity(city.name_with_type)" value="{{city.name_with_type}}">{{city.name_with_type}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Employment Type</ion-label>
                <ion-select [(ngModel)]="type" name="type">
                    <ion-option  *ngFor="let type of types" value="{{ type }}" (ionSelect)="searchByType(type)">{{ type }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Seniority level</ion-label>
                <ion-select [(ngModel)]="level" name="level">
                    <ion-option *ngFor="let level of levels" value="{{ level }}" (ionSelect)="searchByLevel(level)">{{ level }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>School</ion-label>
                <ion-select [(ngModel)]="school" name="school">
                    <ion-option  *ngFor="let school of schools" value="{{ school }}" (ionSelect)="searchBySchool(school)">{{ school }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Experience</ion-label>
                <ion-select [(ngModel)]="experience" name="experience">
                    <ion-option *ngFor="let experience of experiences" value="{{ experience }}" (ionSelect)="searchByExperience(experience)">{{ experience }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Specialized</ion-label>
                <ion-select [(ngModel)]="specialized" name="specialized">
                    <ion-option *ngFor="let specialized of specializeds" value="{{ specialized }}" (ionSelect)="searchBySpecialized(specialized)">{{ specialized }}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    <ion-card *ngFor="let user of listUser">
        <img class="img-card" src="{{user.avatar_url}}">
        <ion-card-content>
            <ion-card-title>
                {{ user.name }}
            </ion-card-title>
            <ion-grid>
                <ion-row>
                    <ion-col *ngIf="user.school" col-5>
                        School
                    </ion-col>
                    <ion-col>
                        {{ user.school }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngIf="user.speciality" col-5>
                        Speciality
                    </ion-col>
                    <ion-col>
                        {{ user.speciality }}
                    </ion-col>
                </ion-row>
            </ion-grid>
            <button ion-button clear block (click)="viewDetail(user)">View more</button>
        </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
