<ion-header>
    <ion-navbar>
        <ion-toolbar>
            <ion-buttons left class="loginnavbtn">
                <button ion-button class="loginnavbtn" (click)="goBack()">
                    <ion-icon name="md-arrow-back"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>{{ actionPost }}</ion-title>
            <ion-buttons right>
                <button ion-button [disabled]="formPost.invalid" (click)="save()">
                    <ion-icon name="md-checkmark"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content padding class="post-add">
    <form [formGroup]="formPost" action="">
        <ion-list>
            <ion-item>
                <ion-label>
                    <ion-icon name="logo-google"></ion-icon>
                </ion-label>
                <ion-input type="text" formControlName="company" name="company" placeholder="Company name"></ion-input>
            </ion-item>

            <div *ngIf="isError('company')">
                <div [hidden]="!isErrorRequired('company')" class="error">
                    Company's Name is required field!
                </div>
                <div [hidden]="!isErrorMinLength('company')" class="error">
                    Company's Name is least at 8 characters long!
                </div>
                <div [hidden]="!isErrorMaxLength('company')" class="error">
                    Company's Name can not more than 100 characters!
                </div>
            </div>

            <ion-item class="input-text">
                <ion-label>
                    <ion-icon name="md-mail"></ion-icon>
                </ion-label>
                <ion-input type="email" formControlName="email" name="email" placeholder="Email"></ion-input>
            </ion-item>

            <div *ngIf="isError('email')">
                <div [hidden]="!isErrorRequired('email')" class="error">
                    Email is required field!
                </div>
                <div [hidden]="!isErrorPattern('email')" class="error">
                    Email incorrect format!
                </div>
            </div>

            <ion-item class="input-text">
                <ion-label>
                    <ion-icon name="md-call"></ion-icon>
                </ion-label>
                <ion-input type="tel" formControlName="phone" name="phone" placeholder="Phone"></ion-input>
            </ion-item>

            <div *ngIf="isError('phone')">
                <div [hidden]="!isErrorRequired('phone')" class="error">
                    Phone is required field!
                </div>
                <div [hidden]="!isErrorPattern('phone')" class="error">
                    Phone incorect format!
                </div>
            </div>

            <ion-item id="upload-boxes" class="input-text">
                <button id="btn-logo" type="button" ion-button (click)="chooseLogo()">Upload Logo</button>
                <img class="logo" style="height: 100px; width: 100px;" src={{logoUrl}}>
            </ion-item>

            <ion-item>
                <ion-label>
                    <ion-icon name="md-information-circle"></ion-icon>
                </ion-label>
                <ion-input type="text" formControlName="title" name="title" placeholder="Title"></ion-input>
            </ion-item>

            <div *ngIf="isError('title')">
                <div [hidden]="!isErrorRequired('title')" class="error">
                    Title is required field!
                </div>
                <div [hidden]="!isErrorMinLength('title')" class="error">
                    Title is least at 8 characters long!
                </div>
                <div [hidden]="!isErrorMaxLength('title')" class="error">
                    Title can not more than 100 characters!
                </div>
            </div>

            <ion-item>
                <ion-label>City</ion-label>
                <ion-select formControlName="city" name="city">
                    <ion-option *ngFor="let city of listCity" (ionSelect)="changeCity(city)" value="{{city.name_with_type}}">{{city.name_with_type}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>District</ion-label>
                <ion-select formControlName="district" name="district" [disabled]="formPost.controls['city'].invalid">
                    <ion-option *ngFor="let district of listDistrict" value="{{district.name}}" (ionSelect)="changeDistrict(district)">{{district.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Street</ion-label>
                <ion-select formControlName="street" name="street" [disabled]="formPost.controls['district'].invalid">
                    <ion-option *ngFor="let street of listStreet" value="{{street.name}}">{{street.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>
                    <ion-icon name="md-cloud"></ion-icon>
                </ion-label>
                <ion-input type="text" formControlName="website" name="website" placeholder="website"></ion-input>
            </ion-item>

            <div *ngIf="isError('website')">
                <div [hidden]="!isErrorRequired('website')" class="error">
                    Website is required field!
                </div>
                <div [hidden]="!isErrorPattern('website')" class="error">
                    Website is incorrect format!
                </div>
            </div>

            <tag-input formControlName="function" name="function" [separatorKeyCodes]="[32]" placeholder="chose 3 function" [maxItems]='3'>
                <tag-input-dropdown [autocompleteItems]="listFunctionJob">
                </tag-input-dropdown>
            </tag-input>

            <ion-item>
                <ion-label>Employment Type</ion-label>
                <ion-select formControlName="type" name="type">
                    <ion-option  *ngFor="let type of types" value="{{ type }}">{{ type }}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Seniority level</ion-label>
                <ion-select formControlName="level" name="level">
                    <ion-option *ngFor="let level of levels" value="{{ level }}">{{ level }}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>
                    <ion-icon name="md-calendar"></ion-icon>
                </ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" min="2018" formControlName="dateFrom" name="dateFrom" placeholder="Date From"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>
                    <ion-icon name="md-calendar"></ion-icon>
                </ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" min="2018" formControlName="dateTo" name="dateTo" placeholder="Date To"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-textarea rows="6" type="text" formControlName="description" name="description" placeholder="Add 4 to 6 bullets describle the role"></ion-textarea>
            </ion-item>
            <div *ngIf="formPost.controls['description'].errors && (formPost.controls['description'].dirty || formPost.controls['description'].touched)">
                <div [hidden]="!formPost.controls['description'].errors.required" class="error">
                    Description is required field!
                </div>
            </div>

            <div>
                <button ion-button round color="primary" [disabled]="formPost.invalid" block (click)="save()">Save</button>
            </div>
            <div>
                <button ion-button round color="danger" [hidden]="!this.post.key" block (click)="delete()">Delete</button>
            </div>
        </ion-list>
    </form>
</ion-content>
