<ion-card *ngIf="post && userCurrent">
    <ion-item>
        <ion-avatar item-start>
            <img (click)="openDetailUserPost(post.user)" src="{{ post.user.avatar_url }}">
        </ion-avatar>
        <h2>{{ post.user.name }}</h2>
        <p>
             <ion-note>
                {{ post.post.updatedAt ? (post.post.updatedAt | timeAgo) : post.post.createdAt  | timeAgo }}
            </ion-note>
        </p>
        <ion-fab *ngIf="post.ownPost && userCurrent.role != 'applicant'" top right edge fab-fixed class="more-action-post" (click)="openModalEdit(post.post)">
            <button ion-fab mini><ion-icon name="create"></ion-icon></button>
        </ion-fab>
    </ion-item>

    <img *ngIf="post.post.image_url" (click)="openModalDetail(post.post)" class="img-post" src="{{ post.post.image_url }}">

    <ion-card-content (click)="openModalDetail(post.post)">
        <h2><ion-icon color="primary" name="md-archive" md="md-archive"></ion-icon><span>{{ post.post.title }}</span></h2>
        <p><ion-icon color="primary" name="md-calendar"></ion-icon><span>{{ post.post.dateFrom | moment:['ll'] }} - {{ post.post.dateTo | moment:['ll'] }}</span></p>
        <p><ion-icon color="primary" name="md-book" md="md-book" class="icon-func"></ion-icon>
            <span *ngFor="let func of post.post.function">#{{ func.display }} </span>
        </p>
    </ion-card-content>

    <ion-grid>
        <div *ngIf="post.listCv">
            <ion-row *ngFor="let cv of post.listCv">
                <ion-col col-6>
                    {{ cv.user.name }}
                </ion-col>
                <ion-col col-6>
                    <a href="{{ cv.linkCv }}">Open cv</a>
                </ion-col>
            </ion-row>
        </div>
       
        <ion-row>
            <ion-col col-4 class="action-post">
                <button ion-button icon-left clear small (click)="likePost(post.post)">
                    <ion-icon  name="{{ getNameIconLike(post.post.key) }}"></ion-icon>
                    <div>{{ countLikes(post.post.likes) }}</div>
                </button>
            </ion-col>
            <ion-col col-4 class="action-post" >
                <button ion-button icon-left clear small (click)="savePost(post.post.key)">
                    <ion-icon name="{{ getNameIconHeart(post.post.key) }}"></ion-icon>
                    <div>Save</div>
                </button>
            </ion-col>
            <ion-col col-4 class="action-post" (click)="openComment(post.post.key)">
                <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>{{ countComment(post.post.comments) }}</div>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 center text-center>
                <button (click)="sharePost(post.post)" small ion-button outline><ion-icon name="md-share"></ion-icon></button>
            </ion-col>
            <ion-col col-6 center text-center class="ion-chat">
                 <ion-icon color="primary" (click)="openChat(post.user, post.post)" name="md-chatbubbles"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
